@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

* {
  font-family: "Nanum-Gothic", sans-serif;\
  font-style: normal;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {

  background-repeat: no-repeat repeat-y;
  background-size: cover;
  overflow: auto;
  margin: auto;
}

header{

  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-color: #00BCD4;
  overflow: hidden;
  margin: auto;
}

header #in-header{

  width: 800px;
  height: 70px;
  margin: auto;
  text-align: center;
  display: table;
  vertical-align: middle;
}

header .main-title{

  width: 200px;
  height: 60px;
  text-align: center;
  margin: 5px;
  font-size: 45px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

header .sub-title{

  width: 100px;
  height: 60px;
  text-align: center;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Noto Sans KR', sans-serif;
  color: #FFFFFF;
  cursor: pointer;
  display: table-cell;
  vertical-align: middle;
}

header .remain-title{

  width: 200px;
  height: 60px;
  text-align: center;
  margin: 5px;
}

#mainwrapper{

  width: 744px;
  overflow: auto;
  margin: auto;
  padding-bottom: 75px;
  text-align: center;
}

#show-count h1{

  text-align: center;
  margin: auto;
  font-size: 40px;
}

#table{

  width: 744px;
  height: 680px;
  margin: auto;
  text-align: center;
}

#table .row{

  margin: auto;
  text-align: center;
  float: left;
}

#table .label{

  width: 120px;
  height: 70px;
  margin: 2px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background : #005B9A;
  float: left;
}

#table .cell{

  width: 120px;
  height: 70px;
  margin: 2px;
  border: none;
  outline: none;
  padding: 0px;
  background: #74C2E1;
  cursor:pointer;
  display: table-cell;
  word-break:normal;
  float: left;
}

#table .cell-sel{

  width: 120px;
  height: 70px;
  margin: 2px;
  border: none;
  outline: none;
  padding: 0px;
  background: #0191C8;
  cursor:pointer;
  display: table-cell;
  word-break:normal;
  float: left;
}

#table .cell-result{

  width: 120px;
  height: 70px;
  margin: 2px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background: #0191C8;
  font-size: 13px;
  display: table-cell;
  word-break:normal;
  float: left;
  vertical-align: middle;
  line-height: 70px;
}

#table .room{

  width: 182px;
  height: 80px;
  margin: 2px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background: #74C2E1;
  cursor:pointer;
  vertical-align: middle;
  display: table-cell;
  float: left;
  line-height: 80px;
}

#table .room-sel{

  width: 182px;
  height: 80px;
  margin: 2px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background: #0191C8;
  cursor:pointer;
  vertical-align: middle;
  display: table-cell;
  float: left;
  line-height: 80px;
}

#buttons{

  width: 100%;
  margin: auto;
  text-align: center;
}

#buttons .control-button{

  width: 350px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  color: #0191C8;
  background: #FFFFFF;
}

#buttons .reset-button{

  width: 300px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  color: #0191C8;
  background: #FFFFFF;
}

footer{

  width: 100%;
  height: 70px;
  background-color: #00bcd4;
  background-attachment: scroll;
  background-position: 0% 0%;
  bottom: 0;
  margin: 0px;
  padding: 0px;
  padding-top: 5px;
  position: fixed;
}

footer h3{

  text-align: center;
  margin: 5px;
  font-size: 20px;
  color: #FFFFFF;
}

footer address{

  text-align: center;
  margin: 5px;
  font-size: 15px;
  color: #FFFFFF;
}