@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  font-family: "Nanum-Gothic", sans-serif;\
  font-style: normal;
}

body {

  background-repeat: no-repeat repeat-y;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}

header{

  width: 100%;
  background-color: #00BCD4;
  padding-top: 0px;
  padding-bottom: 10px;
  overflow: hidden;
  margin: auto;
}

header h1{
  text-align: center;
  margin: auto;
  margin-top: 5px;
  font-size: 45px;
  color: #FFFFFF;
}

footer{

  width: 100%;
  background-color: #00bcd4;
  background-attachment: scroll;
  background-position: 0% 0%;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 0px;
  position: fixed;
}

footer h3{

  text-align: center;
  margin: auto;
  margin-top: 5px;
  font-size: 20px;
  color: #FFFFFF;
}

footer address{

  text-align: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #FFFFFF;
}

#mainwrapper{

  width: 70%;
  overflow: auto;
  margin: auto;
}

#mainwrapper table{

  margin: auto;
}

#mainwrapper form .submit-button{

  margin: auto;
}

#tiles th{

  width: 120px;
  height: 70px;
  text-align: center;
  color: #FFFFFF;
  background : #005B9A;
  border-radius: 7px;
}

#tiles .day td{

  width: 120px;
  height: 70px;
  text-align: center;
  color: #FFFFFF;
  background : #005B9A;
  border-radius: 7px;
}

#tiles .cell{

  width: 120px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background: #74C2E1;
  border-radius: 7px;
}

#tiles .cell-sel{

  width: 120px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background: #0191C8;
  border-radius: 7px;
}

#buttons{

  margin: auto;
}

#buttons .control-button{

  width: 120px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background: #0191C8;
  border-radius: 7px;
}

#buttons .reset-button{

  width: 120px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background: #0191C8;
  border-radius: 7px;
}

@media screen and (max-width:800px) {
header h1{

  font-size: 30px;
  padding-top: 150px;
}