@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
  font-family: "Nanum-Gothic", sans-serif;\
  font-style: normal;
}

body {

  background-repeat: no-repeat repeat-y;
  background-size: cover;
  overflow: hidden;
  margin: 0;
}

header{

  width: 100%;
  height: 65px;
  background-color: #00BCD4;
  padding-top: 0px;
  padding-bottom: 10px;
  overflow: hidden;
  margin: auto;
}

header #in-header{

  width: 60%;
  margin: auto;
}

header .main-title{

  float: left;
  margin-top: 5px;
  width: 250px;
}

header .sub-title{

  float: left;
  margin-top: 33px;
  width: 90px;
}

header h1{

  text-align: center;
  margin: auto;
  font-size: 45px;
  color: #FFFFFF;
  cursor: pointer;
}

header h2{

  text-align: center;
  margin: auto;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

footer{

  width: 100%;
  background-color: #00bcd4;
  background-attachment: scroll;
  background-position: 0% 0%;
  bottom: 0;
  padding-top: 10px;
  padding-bottom: 0px;
  position: fixed;
}

footer h3{

  text-align: center;
  margin: auto;
  margin-top: 5px;
  font-size: 20px;
  color: #FFFFFF;
}

footer address{

  text-align: center;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
  color: #FFFFFF;
}

#mainwrapper{

  width: 60%;
  overflow: auto;
  margin: auto;
}

#mainwrapper table{

  margin: auto;
}

#tiles th{

  width: 120px;
  height: 70px;
  text-align: center;
  color: #FFFFFF;
  background : #005B9A;
}

#tiles .day td{

  width: 120px;
  height: 70px;
  text-align: center;
  color: #FFFFFF;
  background : #005B9A;
}

#tiles .cell{

  width: 120px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #74C2E1;
  background: #74C2E1;
}

#tiles .cell-sel{

  width: 120px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #0191C8;
  background: #0191C8;
}

#tiles .cell-result{

  width: 120px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  text-align: center;
  color: #FFFFFF;
  background: #0191C8;
}

#buttons{

  width: 100%;
  margin: auto;
}

.margin-buttons{

  text-align: center;
}

#buttons .control-button{

  width: 300px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  color: #0191C8;
  background: #FFFFFF;
}

#buttons .reset-button{

  width: 300px;
  height: 70px;
  margin: 0px;
  border: none;
  outline: none;
  padding: 0px;
  font-size: 25px;
  text-align: center;
  color: #0191C8;
  background: #FFFFFF;
}

@media screen and (max-width:800px) {
header h1{

  font-size: 30px;
  padding-top: 150px;
}