<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>:: Daetris ::</title>

    <link href = "{{ url_for('static', filename = 'basic.css') }}" rel = "stylesheet" type = "text/css">

    <style>
      {font-family: 'Nanum Gothic', serif};
        a:link     {color:#FFFFFF; text-decoration:none}
        a:visited  {color:#FFFFFF; text-decoration:none}
        a:active   {color:#FFFFFF; text-decoration:none}
        a:hover    {color:#FFFFFF; text-decoration:none}
    </style>

</head>
<body>

    <header>
        <div id="in-header">
          <div class="main-title" onClick="location.href='/';">Daetris</div>
          <div class="sub-title" onClick="location.href='/random';">랜덤</div>
          <div class="sub-title" onClick="location.href='/draw';">그리기</div>
          <div class="sub-title" onClick="location.href='/map';">지도</div>
          <div class="sub-title" onClick="location.href='/about';">about</div>
          <div class="remain-title"></div>
        </div>
    </header>

    <div id="mainwrapper">
      </br>
      </br>
      <div id="text">
      뭔가 써야 하는데 너무 귀찮다.</br>
    </br>
      원래 수강편람에는 토요일 수업, 9-10 교시 수업이 있었는데,</br>
      누가 그 수업을 듣고 싶어 할까?</br>
      그래서 쿨하게 그런 수업은 제거하였다.</br>
      </br>
      CSS 는 너무 화가 난다. 웹 디자인할 때엔 부트스트랩을 써야겠다.</br>
      HTML 과 JS 도 마찬가지다.</br>
      </br>
      더 쓸 게 없어서 간단한 QnA 를 만들어봤다.
      </br>
      Q : 대트리스는 왜 만들었나요?</br>
      A : 심심해서요.</br>
      </br>
      Q : 좋아하는 음식은 무엇인가요?</br>
      A : 치킨.</br>
      </br>
      Q : 웹은 어떻게 공부했나요?</br>
      A : 독학했습니다. 그런데 여러분들은 공부하지 말고, 그냥 돈 주고 다른 사람에게 맡기세요.</br>
      </div>
    </div>

    <footer>
      <h3>Daetris :: Make Your Class Schedule Coooool</h3>
      <address>
        e-mail : <a herf="mailto:cyw314@gmail.com">cyw314@gmail.com</a><br>
      </address>
    </footer>

</body>
</html>
