<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>:: Daetris ::</title>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href = "{{ url_for('static', filename = 'basic.css') }}" rel = "stylesheet" type = "text/css">

    <style>
      {font-family: 'Nanum Gothic', serif};
        a:link     {color:#FFFFFF; text-decoration:none}
        a:visited  {color:#FFFFFF; text-decoration:none}
        a:active   {color:#FFFFFF; text-decoration:none}
        a:hover    {color:#FFFFFF; text-decoration:none}
    </style>

</head>
<body>

    <header>
        <div id="in-header">
          <div class="main-title" onClick="location.href='/';">Daetris</div>
          <div class="sub-title" onClick="location.href='/random';">랜덤</div>
          <div class="sub-title" onClick="location.href='/draw';">그리기</div>
          <div class="sub-title" onClick="location.href='/map';">지도</div>
          <div class="sub-title" onClick="location.href='/about';">about</div>
          <div class="remain-title"></div>
        </div>
    </header>

    <div id="mainwrapper">
      설명을 대충 써놓자</br>
      토요일이나 평일 9,10 교시에 누가 학교를 오고 싶을까?</br>
      그래서 쿨하게 그런 수업은 제거하였다</br>
    </div>

    <footer>
      <h3>Daetris :: Make Your Class Schedule Coooool</h3>
      <address>
        e-mail : <a herf="mailto:cyw314@gmail.com">cyw314@gmail.com</a><br>
      </address>
    </footer>

</body>
</html>
