<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>:: D3 test ::</title>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    
    <script type="text/javascript">
      function getD(d, i){

        return d
      }

      function getI(d, i){

        return i
      }

      function makeGraph(){

        var svg = d3.select("button").append("svg").attr("width","1000").attr("height", "1000");
        var selection = svg.selectAll("rect").data([10,20,30,40,50]);
        var elements = selection.enter().append("rect");
        var rect = elements.attr("x", 0).attr("y", function(d, i){ return i * 100}).attr("width", getD).attr("height", getD);
        var style = rect.style("opacity", function(d, i){ return d * 0.01});
      }
    </script>

</head>
<body>

  <button id="make-button" onClick="makeGraph();">makemake</button>

</body>
</html>
