<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>:: Daetris ::</title>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href = "{{ url_for('static', filename = 'basic.css') }}" rel = "stylesheet" type = "text/css">

    <script type="text/javascript">
      function toggle(id) {

        if(document.getElementById(id).className == "cell"){

          document.getElementById(id).className = "cell-sel";
          document.getElementById("f" + id.substr(1,2)).value = "1";
        }
        else{

          document.getElementById(id).className = "cell";
          document.getElementById("f" + id.substr(1,2)).value = "0";
        }
      }

      function reset(){

        for(var i = 1; i <= 8; i++){

          for(var j = 1; j<= 5; j++){

            var idx = i.concat(j);

            document.getElementById("c".concat(idx)).className = "cell";
            document.getElementById("f".concat(idx)).value = "0";
          }
        }
      }
    </script>

    <style>
      {font-family: 'Nanum Gothic', serif};
        a:link     {color:#FFFFFF; text-decoration:none}
        a:visited  {color:#FFFFFF; text-decoration:none}
        a:active   {color:#FFFFFF; text-decoration:none}
        a:hover    {color:#FFFFFF; text-decoration:none}
    </style>

</head>
<body>

    <header>
        <div id="in-header" class='margin-buttons'>
          <div class="main-title">
            <h1 onClick="location.href='/';">Daetris</h1>
          </div>
          <div class="sub-title">
            <h2 onClick="location.href='/random';">랜덤</h2>
          </div>
          <div class="sub-title">
            <h2 onClick="location.href='/draw';">그리기</h2>
          </div>
          <div class="sub-title">
            <h2 onClick="location.href='/map';">지도</h2>
          </div>
          <div class="sub-title">
            <h2 onClick="location.href='/about';">about</h2>
          </div>
        </div>
    </header>

    <div id="mainwrapper">
      </br>
      </br>
      <div id="table">
        <div class="row">
          <div class="label"></div>
          <div class="label">월</div>
          <div class="label">화</div>
          <div class="label">수</div>
          <div class="label">목</div>
          <div class="label">금</div>
        </div>
        <div class="row">
          <div class="label">1교시</div>
          <div id="c11" class="cell" onClick="toggle('c11');"></div>
          <div id="c12" class="cell" onClick="toggle('c12');"></div>
          <div id="c13" class="cell" onClick="toggle('c13');"></div>
          <div id="c14" class="cell" onClick="toggle('c14');"></div>
          <div id="c15" class="cell" onClick="toggle('c15');"></div>
        </div>
        <div class="row">
          <div class="label">2교시</div>
          <div id="c21" class="cell" onClick="toggle('c21');"></div>
          <div id="c22" class="cell" onClick="toggle('c22');"></div>
          <div id="c23" class="cell" onClick="toggle('c23');"></div>
          <div id="c24" class="cell" onClick="toggle('c24');"></div>
          <div id="c25" class="cell" onClick="toggle('c25');"></div>
        </div>
        <div class="row">
          <div class="label">3교시</div>
          <div id="c31" class="cell" onClick="toggle('c31');"></div>
          <div id="c32" class="cell" onClick="toggle('c32');"></div>
          <div id="c33" class="cell" onClick="toggle('c33');"></div>
          <div id="c34" class="cell" onClick="toggle('c34');"></div>
          <div id="c35" class="cell" onClick="toggle('c35');"></div>
        </div>
        <div class="row">
          <div class="label">4교시</div>
          <div id="c41" class="cell" onClick="toggle('c41');"></div>
          <div id="c42" class="cell" onClick="toggle('c42');"></div>
          <div id="c43" class="cell" onClick="toggle('c43');"></div>
          <div id="c44" class="cell" onClick="toggle('c44');"></div>
          <div id="c45" class="cell" onClick="toggle('c45');"></div>
        </div>
        <div class="row">
          <div class="label">5교시</div>
          <div id="c51" class="cell" onClick="toggle('c51');"></div>
          <div id="c52" class="cell" onClick="toggle('c52');"></div>
          <div id="c53" class="cell" onClick="toggle('c53');"></div>
          <div id="c54" class="cell" onClick="toggle('c54');"></div>
          <div id="c55" class="cell" onClick="toggle('c55');"></div>
        </div>
        <div class="row">
          <div class="label">6교시</div>
          <div id="c61" class="cell" onClick="toggle('c61');"></div>
          <div id="c62" class="cell" onClick="toggle('c62');"></div>
          <div id="c63" class="cell" onClick="toggle('c63');"></div>
          <div id="c64" class="cell" onClick="toggle('c64');"></div>
          <div id="c65" class="cell" onClick="toggle('c65');"></div>
        </div>
        <div class="row">
          <div class="label">7교시</div>
          <div id="c71" class="cell" onClick="toggle('c71');"></div>
          <div id="c72" class="cell" onClick="toggle('c72');"></div>
          <div id="c73" class="cell" onClick="toggle('c73');"></div>
          <div id="c74" class="cell" onClick="toggle('c74');"></div>
          <div id="c75" class="cell" onClick="toggle('c75');"></div>
        </div>
        <div class="row">
          <div class="label">8교시</div>
          <div id="c81" class="cell" onClick="toggle('c81');"></div>
          <div id="c82" class="cell" onClick="toggle('c82');"></div>
          <div id="c83" class="cell" onClick="toggle('c83');"></div>
          <div id="c84" class="cell" onClick="toggle('c84');"></div>
          <div id="c85" class="cell" onClick="toggle('c85');"></div>
        </div>
      </div>

      <form id="schedule" method="post" action="/show">
        <input type="hidden" value="0" id="f11" name="c11">
        <input type="hidden" value="0" id="f12" name="c12">
        <input type="hidden" value="0" id="f13" name="c13">
        <input type="hidden" value="0" id="f14" name="c14">
        <input type="hidden" value="0" id="f15" name="c15">
        <input type="hidden" value="0" id="f21" name="c21">
        <input type="hidden" value="0" id="f22" name="c22">
        <input type="hidden" value="0" id="f23" name="c23">
        <input type="hidden" value="0" id="f24" name="c24">
        <input type="hidden" value="0" id="f25" name="c25">
        <input type="hidden" value="0" id="f31" name="c31">
        <input type="hidden" value="0" id="f32" name="c32">
        <input type="hidden" value="0" id="f33" name="c33">
        <input type="hidden" value="0" id="f34" name="c34">
        <input type="hidden" value="0" id="f35" name="c35">
        <input type="hidden" value="0" id="f41" name="c41">
        <input type="hidden" value="0" id="f42" name="c42">
        <input type="hidden" value="0" id="f43" name="c43">
        <input type="hidden" value="0" id="f44" name="c44">
        <input type="hidden" value="0" id="f45" name="c45">
        <input type="hidden" value="0" id="f51" name="c51">
        <input type="hidden" value="0" id="f52" name="c52">
        <input type="hidden" value="0" id="f53" name="c53">
        <input type="hidden" value="0" id="f54" name="c54">
        <input type="hidden" value="0" id="f55" name="c55">
        <input type="hidden" value="0" id="f61" name="c61">
        <input type="hidden" value="0" id="f62" name="c62">
        <input type="hidden" value="0" id="f63" name="c63">
        <input type="hidden" value="0" id="f64" name="c64">
        <input type="hidden" value="0" id="f65" name="c65">
        <input type="hidden" value="0" id="f71" name="c71">
        <input type="hidden" value="0" id="f72" name="c72">
        <input type="hidden" value="0" id="f73" name="c73">
        <input type="hidden" value="0" id="f74" name="c74">
        <input type="hidden" value="0" id="f75" name="c75">
        <input type="hidden" value="0" id="f81" name="c81">
        <input type="hidden" value="0" id="f82" name="c82">
        <input type="hidden" value="0" id="f83" name="c83">
        <input type="hidden" value="0" id="f84" name="c84">
        <input type="hidden" value="0" id="f85" name="c85">
      </form>

      <div>
        <div id="buttons" class="margin-buttons">
          <input type="submit" form="schedule" value="시간표 만들기" class="control-button"/>
          <input type="button" onClick="reset();" value="모두 지워버리기" class="reset-button">
        </div>
      </div>
    </div>

    <footer>
      <h3>Daetris :: Make Your Class Schedule Coooool</h3>
      <address>
        e-mail : <a herf="mailto:cyw314@gmail.com">cyw314@gmail.com</a><br>
      </address>
    </footer>

</body>
</html>
