<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>:: Daetris ::</title>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href = "{{ url_for('static', filename = 'basic.css') }}" rel = "stylesheet" type = "text/css">

    <style>
    	{font-family: 'Nanum Gothic', serif};
        a:link     {color:#FFFFFF; text-decoration:none}
        a:visited  {color:#FFFFFF; text-decoration:none}
        a:active   {color:#FFFFFF; text-decoration:none}
        a:hover    {color:#FFFFFF; text-decoration:none}
    </style>

</head>
<body>

    <header>
      <div id="inHeader">
        <h1>Daetris</h1>
      </div>
    </header>

    <div id="mainwrapper">
      <div>
        </br>
        </br>
        <form>
          <table id="tiles">
            <tbody>
              <tr class="day">
                <th><div><div></th>
                <td>월</td>
                <td>화</td>
                <td>수</td>
                <td>목</td>
                <td>금</td>
              </tr>
              <tr class="time">
                <th>1교시</th>
                <td><input type="button" value="월 1교시"></button></td>
                <td><input type="button" value="화 1교시"></button></td>
                <td><input type="button" value="수 1교시"></button></td>
                <td><input type="button" value="목 1교시"></button></td>
                <td><input type="button" value="금 1교시"></button></td>
              </tr>
              <tr class="time">
                <th>2교시</th>
                <td><input type="button" value="월 2교시"></button></td>
                <td><input type="button" value="화 2교시"></button></td>
                <td><input type="button" value="수 2교시"></button></td>
                <td><input type="button" value="목 2교시"></button></td>
                <td><input type="button" value="금 2교시"></button></td>
              </tr>
              <tr class="time">
                <th>3교시</th>
                <td><input type="button" value="월 3교시"></button></td>
                <td><input type="button" value="화 3교시"></button></td>
                <td><input type="button" value="수 3교시"></button></td>
                <td><input type="button" value="목 3교시"></button></td>
                <td><input type="button" value="금 3교시"></button></td>
              </tr>
              <tr class="time">
                <th>4교시</th>
                <td><input type="button" value="월 4교시"></button></td>
                <td><input type="button" value="화 4교시"></button></td>
                <td><input type="button" value="수 4교시"></button></td>
                <td><input type="button" value="목 4교시"></button></td>
                <td><input type="button" value="금 4교시"></button></td>
              </tr>
              <tr class="time">
                <th>5교시</th>
                <td><input type="button" value="월 5교시"></button></td>
                <td><input type="button" value="화 5교시"></button></td>
                <td><input type="button" value="수 5교시"></button></td>
                <td><input type="button" value="목 5교시"></button></td>
                <td><input type="button" value="금 5교시"></button></td>
              </tr>
              <tr class="time">
                <th>6교시</th>
                <td><input type="button" value="월 6교시"></button></td>
                <td><input type="button" value="화 6교시"></button></td>
                <td><input type="button" value="수 6교시"></button></td>
                <td><input type="button" value="목 6교시"></button></td>
                <td><input type="button" value="금 6교시"></button></td>
              </tr>
              <tr class="time">
                <th>7교시</th>
                <td><input type="button" value="월 7교시"></button></td>
                <td><input type="button" value="화 7교시"></button></td>
                <td><input type="button" value="수 7교시"></button></td>
                <td><input type="button" value="목 7교시"></button></td>
                <td><input type="button" value="금 7교시"></button></td>
              </tr>
              <tr class="time">
                <th>8교시</th>
                <td><input type="button" value="월 8교시"></button></td>
                <td><input type="button" value="화 8교시"></button></td>
                <td><input type="button" value="수 8교시"></button></td>
                <td><input type="button" value="목 8교시"></button></td>
                <td><input type="button" value="금 8교시"></button></td>
              </tr>
            </tr>
          </table>
          <input type="submit" value="시간표 만들기" class="submit-button">
        </form>
      </div>
    </div>

    <footer>
      <h3>Daetris :: Make Your Class Schedule Coooool</h3>
      <address>
        e-mail : <a herf="mailto:cyw314@gmail.com">cyw314@gmail.com</a><br>
      </address>
    </footer>

</body>
</html>
