<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>:: Daetris ::</title>

    <script src="https://d3js.org/d3.v4.min.js"></script>
    <link href = "{{ url_for('static', filename = 'basic.css') }}" rel = "stylesheet" type = "text/css">

    <script type="text/javascript">
      function toggle(id) {

        if(document.getElementById(id).className == "cell"){

          document.getElementById(id).className = "cell-sel";
          document.getElementById(id).value = "1";
        }
        else{

          document.getElementById(id).className = "cell";
          document.getElementById(id).value = "0";
        }
      }

      function reset(){

        for(var i = 1; i <= 8; i++){

          for(var j = 1; j<= 5; j++){

            var id = 'c' + i + j;
            document.getElementById(id).className = "cell";
          }
        }
      }
    </script>

    <style>
      {font-family: 'Nanum Gothic', serif};
        a:link     {color:#FFFFFF; text-decoration:none}
        a:visited  {color:#FFFFFF; text-decoration:none}
        a:active   {color:#FFFFFF; text-decoration:none}
        a:hover    {color:#FFFFFF; text-decoration:none}
    </style>

</head>
<body>

    <header>
      <div>
        <div id="in-header" class='margin-buttons'>
          <div class="main-title">
            <h1 onClick="location.href='/';">Daetris</h1>
          </div>
          <div class="sub-title">
            <h2 onClick="location.href='/draw';">그리기</h2>
          </div>
          <div class="sub-title">
            <h2 onClick="location.href='/map';">지도</h2>
          </div>
          <div class="sub-title">
            <h2 onClick="location.href='/about';">about</h2>
          </div>
        </div>
      </div>
    </header>

    <div id="mainwrapper">
      지도에서 건물을 선택하면 그 건물만 다니는 시간표를 만들자
      <div>
        <div id="buttons" class="margin-buttons">
          <input type="submit" action="/" form="schedule" value="시간표 만들기" class="control-button"/>
          <input type="button" onClick="reset();" value="모두 지워버리기" class="reset-button">
        </div>
      </div>
    </div>

    <footer>
      <h3>Daetris :: Make Your Class Schedule Coooool</h3>
      <address>
        e-mail : <a herf="mailto:cyw314@gmail.com">cyw314@gmail.com</a><br>
      </address>
    </footer>

</body>
</html>
